Repository Notiooo/PawTravel, pull requests merged in 2022-04, with the labels that each got.

#19 Add design of user profile - #13
  docs/design/prototypes/#13 - Design of user profile/Exports/GuestPerspective.jpg
  docs/design/prototypes/#13 - Design of user profile/Exports/LoggedUserPerspectiveActivities.jpg
  docs/design/prototypes/#13 - Design of user profile/Exports/LoggedUserPerspectiveOccasions.jpg
  docs/design/prototypes/#13 - Design of user profile/UserPageDesign.sketch
Labels: design

#20 Add design of detailed display of the offer - #11
  docs/design/prototypes/#11 - Design of detailed display of the offer/export/Artboard.png
  docs/design/prototypes/#11 - Design of detailed display of the offer/main.sketch
Labels: design

#21 Add design of panel with user alerts - #15
  docs/design/prototypes/#15 - Design of panel with user alerts/DesignOfPanelWithUserAlerts.sketch
  docs/design/prototypes/#15 - Design of panel with user alerts/Exports/AlertManegementCenter.jpg
  docs/design/prototypes/#15 - Design of panel with user alerts/Exports/PanelWithAlerts.jpg
Labels: design

#25 Add design of login and registration panel - #10
  docs/design/prototypes/#10 - Design of login and registration panel/export/Login Form.png
  docs/design/prototypes/#10 - Design of login and registration panel/export/Register Form.png
  docs/design/prototypes/#10 - Design of login and registration panel/main.sketch
Labels: design

#26 Add design of detailed display of the travel guide - #23
  docs/design/prototypes/#23 - Design of detailed display of the travel guide/export/Artboard.png
  docs/design/prototypes/#23 - Design of detailed display of the travel guide/main.sketch
Labels: design

#27 Add design of user settings - #16
  docs/design/prototypes/#16 - Design of user settings/DesignOfUserSettings.sketch
  docs/design/prototypes/#16 - Design of user settings/Exports/EditProfileInfo.jpg
  docs/design/prototypes/#16 - Design of user settings/Exports/ManageAccount.jpg
Labels: design

#28 Add design of the add travel guide panel/site - #24
  docs/design/prototypes/#24 - Design of the add travel guide panelsite/export/Add Travel Guide.png
  docs/design/prototypes/#24 - Design of the add travel guide panelsite/main.sketch
Labels: design

#30 Add design of the homepage - #9
  docs/design/prototypes/#9 - Design of the homepage/DesignOfTheHomepage.sketch
  docs/design/prototypes/#9 - Design of the homepage/Exports/Homepage 2.jpg
  docs/design/prototypes/#9 - Design of the homepage/Exports/Homepage.jpg
Labels: design

#31 Add desing of message panel - #14
  docs/design/prototypes/#14 - Design of the message panel/Exports/Conversation.png
  docs/design/prototypes/#14 - Design of the message panel/Exports/Conversation_v2.png
  docs/design/prototypes/#14 - Design of the message panel/main.sketch
Labels: design

#33 Hide secret key and add helper scripts
  PawTravel/.gitignore
  PawTravel/PawTravel/settings.py
  pawTravelEnv/README.md
  pawTravelEnv/createEnv.bat
  pawTravelEnv/createEnv.sh
  pawTravelEnv/runEnv.bat
  pawTravelEnv/runEnv.sh
  pawTravelEnv/secretKeySetter.bat
  pawTravelEnv/secretKeySetter.sh
Labels: backend

#66 Add basic web design basis of the website - #38
  PawTravel/static/css/pawtravel.css
  PawTravel/static/css/uikit-rtl.css
  PawTravel/static/css/uikit-rtl.min.css
  PawTravel/static/css/uikit.min.css
  PawTravel/static/img/favicon.ico
  PawTravel/static/js/uikit-icons.js
  PawTravel/static/js/uikit-icons.min.js
  PawTravel/static/js/uikit.min.js
  PawTravel/templates/base.html
  PawTravel/templates/base/.gitkeep
  PawTravel/templates/base/footer.html
  PawTravel/templates/base/navbar.html
Labels: frontend, backend

#68 Add basic frontend framework files connected with backend - #67
  PawTravel/.gitignore
  PawTravel/PawTravel/settings.py
  PawTravel/PawTravel/urls.py
  PawTravel/README.md
  PawTravel/pawtravel-front/README.md
  PawTravel/pawtravel-front/babel.config.js
  PawTravel/pawtravel-front/jsconfig.json
  PawTravel/pawtravel-front/package-lock.json
  PawTravel/pawtravel-front/package.json
  PawTravel/pawtravel-front/public/base.html
  PawTravel/pawtravel-front/public/base/.gitkeep
  PawTravel/pawtravel-front/public/base/footer.html
  PawTravel/pawtravel-front/public/base/navbar.html
  PawTravel/pawtravel-front/public/favicon.ico
  PawTravel/pawtravel-front/public/index.html
  PawTravel/pawtravel-front/src/App.vue
  PawTravel/pawtravel-front/src/assets/logo.png
  PawTravel/pawtravel-front/src/components/SamplePage.vue
  PawTravel/pawtravel-front/src/main.js
  PawTravel/pawtravel-front/static/css/pawtravel.css
  PawTravel/pawtravel-front/static/css/uikit-rtl.css
  PawTravel/pawtravel-front/static/css/uikit-rtl.min.css
  PawTravel/pawtravel-front/static/css/uikit.min.css
  PawTravel/pawtravel-front/static/img/favicon.ico
  PawTravel/pawtravel-front/static/js/uikit-icons.js
  PawTravel/pawtravel-front/static/js/uikit-icons.min.js
  PawTravel/pawtravel-front/static/js/uikit.min.js
  PawTravel/pawtravel-front/vue.config.js
  PawTravel/users/admin.py
  PawTravel/users/serializers.py
  PawTravel/users/views.py
  pawTravelEnv/requirements.txt
Labels: frontend, backend

#70 Fix non-working static files and templates
  PawTravel/PawTravel/settings.py
Labels: bug
